<%- model_class = SmsResponse -%>
<div class="page-header">
  <h1>SMS Responses</h1>
</div>
			
<%= grid(@links_grid, :show_filters => :always)  do |g|

	g.column :name => 'Id', :attribute => 'id' do |sms_response|
  	  sms_response.id
	end

	g.column :name => 'To', :attribute => 'To' do |sms_response|
		sms_response.To
	end
  
	g.column :name => 'From', :attribute => 'From'  do |sms_response|
		sms_response.From
	end

	g.column :name => 'Body', :attribute => 'Body' do |sms_response|
		sms_response.Body
	end
	
	g.column :name => 'Attachment', :attribute => 'attachment' do |sms_response|
		link_to(image_tag(sms_response.attachment.thumb.url), sms_response.attachment_url) if sms_response.attachment?
	end
			  
	g.column :name => 'From City', :attribute => 'FromCity' do |sms_response|
		sms_response.FromCity
	end
	
	g.column :name => 'From State', :attribute => 'FromState' do |sms_response|
		sms_response.FromState
	end
	
	g.column :name => 'From ZIP', :attribute => 'FromZIP' do |sms_response|
		sms_response.FromZIP
	end
	
	g.column :name => 'From Country', :attribute => 'FromCountry' do |sms_response|
		sms_response.FromCountry
	end
			  
	g.column :name => 'Created', :attribute => 'created_at', filter: false do |sms_response|
		sms_response.formatted_created_at
	end
			  
	g.column :name => 'Updated', :attribute => 'updated_at', filter: false do |sms_response|
		sms_response.formatted_updated_at
	end

end -%>

         
