<h1>Client Numbers</h1>

<%= link_to 'New Client number', new_client_number_path, class: "btn" %>

<%= grid(@links_grid)  do |g|

	g.column :name => 'Id', :attribute => 'id' do |client_number|
  	  client_number.id
	end

	g.column :name => 'Client Id', :attribute => 'client_id' do |client_number|
		client_number.client_id
	end
  
	g.column :name => 'Phone', :attribute => 'phone'  do |client_number|
		client_number.phone
	end
			  
	g.column :name => 'Created', :attribute => 'created_at', filter: false do |client_number|
		client_number.formatted_created_at
	end
			  
	g.column :name => 'Updated', :attribute => 'updated_at', filter: false do |client_number|
		client_number.formatted_updated_at
	end
	
	g.column do |client_number|
	    link_to('Edit', edit_client_number_path(client_number))
	end
	g.column do |client_number|
		link_to('Delete', client_number_path(client_number), :confirm => "Are you sure?", :method => :delete)
	end

end -%>