<%- model_class = Recording -%>
<h1>All recordings</h1>

<%= link_to 'New Recording', new_recording_path %>

<%= grid(@links_grid, :show_filters => :always)  do |g|

	g.column :name => 'Id', :attribute => 'id' do |recording|
  		recording.id
	end

	g.column :name => 'Tag', :attribute => 'tag' do |recording|
		recording.tag
	end
  
	g.column :name => 'Recording', :attribute => 'url'  do |recording|
		link_to('Listen to Recording', recording.url)
	end

	g.column :name => 'Created by', :attribute => 'user_id' do |recording|
		recording.user_id
	end
			  
	g.column :name => 'Created', :attribute => 'created_at', filter: false do |recording|
		recording.formatted_created_at
	end
			  
	g.column :name => 'Updated', :attribute => 'updated_at', filter: false do |recording|
		recording.formatted_updated_at
	end
			  

end -%>
