<%- model_class = Message -%>
<div class="page-header">
  <h1>Apps</h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_client_path,
            :class => 'btn btn-primary', :style => 'color:white' %>
			
<%= grid(@links_grid, :show_filters => :yes)  do |g|

	g.column :name => 'Id', :attribute => 'id' do |message|
 	   message.id
	end

	g.column :name => 'Campaign', :attribute => 'campaign' do |message|
		message.campaign
	end

	g.column :name => 'Version', :attribute => 'version'  do |message|
		    message.version
		  end

		  g.column :name => 'To', :attribute => 'to' do |message|
		    message.to
		  end

		  g.column :name => 'From', :attribute => 'from'  do |message|
		    message.from
		  end

		  g.column :name => 'Body', :attribute => 'body' do |message|
		    message.body
		  end
		  
		  g.column :name => 'Status', :attribute => 'status' do |message|
		    message.status
		  end
		  
		  g.column :name => 'Created', :attribute => 'created_at' do |message|
		    message.formatted_created_at
		  end
		  
		  g.column :name => 'Updated', :attribute => 'updated_at' do |message|
		    message.formatted_updated_at
		  end

end -%>

         
