<%- model_class = Recipient -%>
<div class="page-header">
  <h1>Recipients</h1>
</div>

<%= grid(@links_grid, :show_filters => :always)  do |g|

	g.column :name => 'Id', :attribute => 'id' do |recipient|
  	  recipient.id
	end

	g.column :name => 'Phone', :attribute => 'Phone' do |recipient|
		recipient.Phone
	end
  
	g.column :name => 'Opted Out', :attribute => 'OptOut', custom_filter: ['true', 'false'], auto_reload: true do |recipient|
		recipient.OptOut
	end
			  
	g.column :name => 'Created', :attribute => 'created_at', filter: false do |recipient|
		recipient.formatted_created_at
	end
			  
	g.column :name => 'Updated', :attribute => 'updated_at', filter: false do |recipient|
		recipient.formatted_updated_at
	end		  

end -%>

