<div id="container">
	<div class="navbar">
	
	<div class="navbar-inner">
	  <a class="brand" href=".">
	    Inviter
	  </a>
	  <ul class="nav">
		  <li><a href="<%= help_docs_path %>">Developers</a></li>
	
	<% if user_signed_in? %>
	<li><a href="<%= messages_path %>">SMS</a></li>
	<li><a href="<%= user_profiles_path %>">Account</a></li>
	<li><a href="/users/logout" data-method="delete">Logout</a></li>

	<% else %>
	<li><a href="/users/login">Login</a></li>
	 
	<% end %>
	 </ul>
 </div>
	
  </div>
</div>