
<div id="main" class="hamburger signed-out-info signed-out-homepage logged-out is-mac">
	
<div id="ext_container">

<div id="container" class="clearfix">

<div id="promo_content" class="cf">
<h1><a id="ilogo" href="#">inviter</a></h1>
<div id="intro">
<h2>Let your mobile app out of the box</h2>
<p class="tagline">
The new way to allow your existing customers to share your application with their friends.
</p>
<div class="sign-up-sign-in">
<a id="sign_up_btn" class="btn square" href="<%= new_user_registration_path %>">
Join now. It's free!
</a>
<p>
Already a member?
<br>
<a href="<%= new_user_session_path %>" class="btn square">Sign in</a>
</p>
</div>
</div>
<div id="promo_img">
<img id="desktop_img" src="assets/mobinv.jpg">
</div>

</div>
<div id="what_do_we_do">
<ul class="primary">
<li id="organization">
<h2>Handle app installs / unsupported devices</h2>
Inviter will determine whether the incoming visitor has your app installed
</li>
<li id="analytics">
<h2>Analyze and optimize your clicks</h2>
Drive more traffic through deeper understanding of sharing behavior
</li>
<li id="sharing">
<h2>One-stop sharing</h2>
A single way to share your links via SMS, email and Facebook
</li>
</ul>
</div>

<div id="bottom">

</div>
</div>

</div>
<div id="footer">

<ul id="footer_links" class="clearfix">
<li><a href="">Help</a></li>
<li><a href="" class="uservoice-feedback-link">Contact</a></li>
<li><a href="">Developers</a></li>
<li><a href="/pages/about">About</a></li>
<li><a href="">Blog</a></li>
<li><a class="facebook" href="http://www.facebook.com/inviter">Facebook</a></li>
<li><a class="twitter" href="http://twitter.com/inviter">Twitter</a></li>
</ul>
<p class="copyright">© 2013 inviter™  ·  made in burlingame, ca</p>

</div>


</div>


