
<div id="main" class="signed-out-info signed-out-homepage logged-out">
	
<div id="ext_container">

<div id="container" class="homecontainer">

<div id="content" class="inside">
<h1><a id="ilogo" href="#">inviter</a></h1>
<div id="intro">
<h2>SMS Campaign Manager</h2>
<p class="tagline">
Run SMS campaigns
</p>
<div class="signup-signin">
<a id="sign_up_btn" class="btn square" href='<%= new_user_registration_path %>'>
Join now. It's free!
</a>
<p>
Already a member?
<br>
<%= link_to "Sign In", new_user_session_url(:protocol => "https"), :class=>"btn square" %>
</p>
</div>
</div>
<div id="promoimg">
<img id="phone" src="assets/mobinv.jpg">
</div>

</div>
<div id="prop">
<ul class="primary">
<li id="organization">
<h2></h2>
</li>
<li id="analytics">
<h2></h2>
</li>
<li id="sharing">
<h2></h2>
</li>
</ul>
</div>

<div id="bottom">

</div>
</div>

</div>
<div id="footer">

<ul id="footer_links" class="homecontainer">
<li><a href="#">Help</a></li>
<li><a href="#">Contact</a></li>
<li><a href="<%= help_docs_path %>">Developers</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Blog</a></li>
<li><a class="facebook" href="http://www.facebook.com/inviter">Facebook</a></li>
<li><a class="twitter" href="http://twitter.com/inviter">Twitter</a></li>
</ul>
<p class="copyright">© 2013 inviter™  ·  made in burlingame, ca</p>

</div>


</div>


