
<div id="main" class="signed-out-info signed-out-homepage logged-out">
	
<div id="ext_container">

<div id="container" class="homecontainer">

<div id="content" class="inside">
<h1><a id="ilogo" href="#">inviter</a></h1>
<div id="intro">
<h2>Let your mobile app out of the box</h2>
<p class="tagline">
The new way to allow your existing customers to share your application with their friends.
</p>
<div class="signup-signin">
<a id="sign_up_btn" class="btn square" href=<%= new_user_registration_path %>>
Join now. It's free!
</a>
<p>
Already a member?
<br>
<a href="<%= new_user_session_path %>" class="btn square">Sign in</a>
</p>
</div>
</div>
<div id="promoimg">
<img id="phone" src="assets/mobinv.jpg">
</div>

</div>
<div id="prop">
<ul class="primary">
<li id="organization">
<h2>Handle app installs / unsupported devices</h2>
Inviter will determine whether the incoming visitor has your app installed
</li>
<li id="analytics">
<h2>Analyze and optimize your clicks</h2>
Drive more traffic through deeper understanding of sharing behavior
</li>
<li id="sharing">
<h2>One-stop sharing</h2>
The one-stop solution for sharing links via SMS, email and Facebook
</li>
</ul>
</div>

<div id="bottom">

</div>
</div>

</div>
<div id="footer">

<ul id="footer_links" class="homecontainer">
<li><a href="#">Help</a></li>
<li><a href="#">Contact</a></li>
<li><a href="<%= help_docs_path %>">Developers</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Blog</a></li>
<li><a class="facebook" href="http://www.facebook.com/inviter">Facebook</a></li>
<li><a class="twitter" href="http://twitter.com/inviter">Twitter</a></li>
</ul>
<p class="copyright">© 2013 inviter™  ·  made in burlingame, ca</p>

</div>


</div>


