<%- model_class = SmsArchive -%>
<div class="page-header">
  <h1>SMS archives</h1>
</div>


<%= grid(@links_grid, :show_filters => :always)  do |g|

	g.column :name => 'Id', :attribute => 'id' do |sms_archive|
  		sms_archive.id
	end

	g.column :name => 'Campaign', :attribute => 'campaign' , :custom_filter => :auto, auto_reload: true do |sms_archive|
		sms_archive.campaign
	end
  
	g.column :name => 'Version', :attribute => 'version'  do |sms_archive|
		sms_archive.version
	end

	g.column :name => 'To', :attribute => 'to' do |sms_archive|
		sms_archive.to
	end
  
	g.column :name => 'From', :attribute => 'from'  do |sms_archive|
		sms_archive.from
	end

	g.column :name => 'Body', :attribute => 'body' do |sms_archive|
		sms_archive.body
	end
			  
	g.column :name => 'Status', :attribute => 'status', :custom_filter => :auto, auto_reload: true do |sms_archive|
		sms_archive.status
	end
	
	g.column :name => 'Entered at', :attribute => 'created_at', filter: false do |sms_archive|
		sms_archive.entered_date
	end
			  
	g.column :name => 'Processed at', :attribute => 'updated_at', filter: false do |sms_archive|
		sms_archive.processed_date
	end
			  
	g.column :name => 'Created', :attribute => 'created_at', filter: false do |sms_archive|
		sms_archive.formatted_created_at
	end
			  
	g.column :name => 'Updated', :attribute => 'updated_at', filter: false do |sms_archive|
		sms_archive.formatted_updated_at
	end
			  

end -%>

<br />

<%= link_to 'New Sms archive', new_sms_archive_path %>
