<p>
	<ul>
	<li>	
	Step 1. Signup
    </li>
	<li>
	Step 2. Create an application
	</li> 
	<li>
	Step 3. Get your API key from the account page. 
	</li> 
	<li>
	Step 4. Call the services with your API key in the auth_token parameter
	</li> 
</p>
<p>
	CURL example calling the URL shortening service:
</p>
<p>	
curl -d "input=http://www.bbc.co.uk" inv.to/shareables?auth_token=$enter your API key$
</p>