.signed-out-homepage h1{font-size:34px;line-height:40px}
.signed-out-homepage #container{padding-top:50px;overflow:hidden;max-width:1200px;margin:0 auto}
.signed-out-homepage #ext_container{margin-bottom:-265px}
.signed-out-homepage #content{padding-left:10%;padding-right:10%}
.signed-out-homepage #content h1{padding:0;margin:0 -4%}
.signed-out-homepage #content #promoimg{right:auto;width:100%;top:0;position:relative;margin:0 auto;left:auto}
.signed-out-homepage #content img#phone{width:100%}
.signed-out-homepage .callout-promo{float:none;width:100%;padding:20px 1%;margin-top:22px}
.signed-out-homepage .callout-promo:first-child{margin-top:0}
.signed-out-homepage #prop li{width:100%;max-width:450px;margin:10px 0}
.signed-out-homepage #prop ul.secondary li{width:100%}
.signed-out-homepage #container{padding-bottom:265px;position:relative}
.signed-out-homepage #intro p.tagline{font-size:16px;margin:20px auto 30px;width:70%;min-width:200px;line-height:1.75em}
.signed-out-homepage .signup-signin p{margin:30px auto 0;font-size:13px;width:70%;min-width:200px;line-height:2em}
.signed-out-homepage .signup-signin p a{display:inline-block;margin-right:0;font-size:20px;padding:11px 20px;background:#99c5dc}
.signed-out-homepage #sign_up_btn{margin-right:0;font-size:20px;padding:11px 20px;position:relative}
.signed-out-homepage #sign_up_btn:active{top:1px;left:1px;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none}
.signed-out-homepage #content{text-align:center;margin-bottom:40px;padding-right:50%;min-height:400px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;display:block}
.signed-out-homepage #content #promoimg{display:block;position:absolute;top:4%;right:2%}
.signed-out-homepage #content img#phone{max-width:569px;vertical-align:bottom}
.signed-out-homepage #content h1{padding:0 10%}
.signed-out-homepage #content #promoimg{left:28.5%}
.signed-out-homepage .callout-promo{min-height:140px}
.signed-out-homepage #logo{margin-top:20px;margin-bottom:20px}
.signed-out-homepage #intro p,
.signed-out-homepage .signup-signin p{width:75%;margin:20px auto}
.signed-out-homepage #prop li{width:100%;max-width:450px;margin:10px 0}
.signed-out-homepage #prop ul.secondary li{width:100%}
.homecontainer{display:block}
.homecontainer:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.inside{*zoom:1}
.inside:before,
.inside:after{content:" ";display:table}
.inside:after{clear:both}
html,body{height:100%}*{padding:0;margin:0}
body{position:relative;text-align:center;background-color:#f3f8fb;font-size:14px;font-family:"adelle",Georgia,Helvetica,Arial,sans-serif;color:#000}
h1,h2,h3,h4,h5,h6,input,select,option,textarea{font-size:28px;font-family:"adelle",Georgia,Helvetica,Arial,sans-serif}ul{list-style:none}
p.copyright{color:#6b6b6b;font-size:12px;padding:10px 0}
#prop{margin-top:0;margin-bottom:40px}
#prop li{width:30%;margin:10px 1.5%;min-height:100px;padding:0 20px 0 90px;display:inline-block;vertical-align:top;background-repeat:no-repeat;background-attachment:scroll;background-position-y:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;text-shadow:0 1px 1px #eee}
#prop h2{font-size:20px;font-weight:normal;line-height:35px}
#prop ul.primary{margin:30px auto 40px}
#footer_links{padding:10px 0;font-size:14px;font-weight:bold;margin-top:20px}
#footer_links li{position:relative;display:inline-block;height:30px;line-height:30px;margin-left:15px;vertical-align:middle}
#footer_links li a{color:#4a8da4}
#footer_links li:first-child{margin-left:0}
#footer_links li:first-child:before{display:none}
#footer_links li:before{content:"\00b7";position:relative;padding:0 5px;display:inline-block;position:absolute;left:-15px;height:30px;line-height:30px;color:#4a8da4;font-size:11px}
p.copyright{color:#6b6b6b;font-size:11px;padding:10px 0}